@import './reset.scss';
@import './default.scss';
@import './Navbar.scss';
@import './MovieCard.scss';
@import './Scrollbar.scss';
@import './headings.scss';
@import './VideoPage.scss';

body {
  overflow-x: hidden;
}

button {
  margin: 10px;
}

.MuiButton-outlinedSecondary {
  color: #fff !important;
  border: 1px solid #fff !important;
}

header + div div:first-child .MuiButton-outlinedSecondary {
  color: red !important;
}
